* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}


li {
  list-style-type: none;
}



/* ! ******************* HEADER *****************************/
header {
    width: 100%;
    height: 70px;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
}

#main-header {
    width: calc(100% - 40px);
    height: 70px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-header .col-2-lg {
    display: flex;
    align-items: center;
}

#logo {
    width: 60%;
}

#upgrade-btn {
    display: block;
    border: 1px solid white; 
    border-radius: 30px;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    text-align: center;
}



/*! ************************** MAIN **********************************/
main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/*Section: tools-column*/
.tools-column {
    height: calc(100vh - 80px);
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    color: gray;
}

.bg-black {
    background-color: black;
}

.tools-icons .icon {
    width: 10%;
    filter: invert(50%);
    margin-right: 10px;
}

.tools-icons li:hover .icon {
    filter: invert(0);
}

.tools-icons ul li {
    font-size: 0.7em;
    padding-left: 17px;
    margin-bottom: 10px;
    border-left: 3px solid transparent;
}

.tools-icons ul li:hover {
    color: white;
    border-left: 3px solid yellowgreen;
}

.user-playlist {
    margin-top: 15px;
}

.user-playlist h4 {
    color: white;
}

.user-playlist h4, .user-playlist #add-playlist {
    font-size: 0.7em;
    padding-left: 20px;
}

.user-playlist #add-playlist {
    margin-top: 10px;
}

.user-playlist ul li{
    padding-left: 20px;
    margin-top: 15px;
    font-size: 0.6em;
}

.user-playlist #add-playlist:hover {
    color: white;
}

.user-playlist #add-playlist:hover .fas.fa-plus {
    background-color: white;
}

.user-playlist ul li:hover {
    color: white;
}


.fas.fa-plus {
    background-color: lightgray;
    color: black;
    font-size: 1.2em;
    font-weight: 800;
    padding: 10px;
    margin-right: 8px;
}

#scroll-list  {
    height: 150px;
    overflow-y: scroll;
}   


.bottom-area {
    margin-bottom: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 20px;
    padding-right: 20px;
}

#app-download {
    border-bottom: 1.5px solid gray;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    padding-bottom: 8px;
}

#app-download:hover {
    color: white;
}

#app-download img {
    width: 12%;
    filter: invert(50%);
    margin-right: 12px;
}

#app-download:hover img {
    filter: invert(0);
}

#user-profile img {
    width: 16%;
    padding: 0px 3px;
    background-color: gray;
    border-radius: 50%;
    margin-right: 10px;
}

#user-profile {
    margin-top: 15px;
    color: white;
    font-size: 0.9em;
    display: flex;
    align-items: center;
}





/*Section: album-list*/
.album-list {
    height: calc(100vh - 80px);
    padding-top: 70px;
    overflow-y: scroll;  
    display: flex;
    flex-direction: column;
}

.bg-blue {
    background-color: #141922;
}

.album-list .nav-menu ul {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.album-list .nav-menu ul li {
    display: inline-block;
    color: gray;
    font-size: 0.8em;
    margin-right: 30px;
}

/*Playlist*/ 
.playlist-name {
    padding: 20px;
}

.single-album {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.single-album img {
    width: 100%;
    margin-bottom: 10px;
}

.playlist-name h6 {
    color: gray;
    margin-top: 5px;
}

.rounded {
    border-radius: 50%;
}








/*! ********************* FOOTER *******************************/

footer {
    width: 100%;
    height: 80px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    z-index: 1;
}