* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}


li {
  list-style-type: none;
}

.mg-right-50 {
    margin-right: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

[class*='col-'] {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
}



/******************** HEADER *****************************/
header {
    width: 100%;
    height: 70px;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    z-index: 1;
}

#main-header {
    width: calc(100% - 40px);
    height: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#logo {
    width: 130px;
}

#main-header .b-clm {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

#main-header .l-clm {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
}



.h-btn {
    width: 250px;
    margin-right: 20px;
    display: block;
    border: 1px solid white; 
    border-radius: 30px;
    padding: 10px 30px;
    
}

.h-btn:hover {
    transform: scale(1.1)
}

#upgrade-btn {
    text-decoration: none;
    color: white;
    display: block;
}



/*************************** MAIN **********************************/

main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/*! *** SECTION 1/2: tools-column*** */
.tools-column {
    height: calc(100vh - 80px);
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    color: gray;
}


.bg-black {
    background-color: black;
}


.tools-icons .icon {
    filter: invert(50%);
    margin-right: 10px;
}

.tools-icons li:hover .icon {
    filter: invert(0);
}

.tools-icons ul li {
    font-size: 0.8em;
    padding-left: 17px;
    margin-bottom: 10px;
    border-left: 3px solid transparent;
}

.tools-icons ul li:active {
    color: white;
    border-left: 3px solid yellowgreen;
}

.tools-icons ul li:first-child {
    border-left: 3px solid yellowgreen;
}


/*! User playlist*/
.user-playlist {
    margin-top: 20px;
}

.user-playlist h4 {
    color: white;
}

.user-playlist h4, .user-playlist #add-playlist {
    font-size: 0.8em;
    padding-left: 20px;
}

.user-playlist #add-playlist {
    margin-top: 10px;
}

.user-playlist ul li{
    padding-left: 20px;
    margin-top: 18px;
    font-size: 0.7em;
}

.user-playlist #add-playlist:hover {
    color: white;
}

.user-playlist #add-playlist:hover .fas.fa-plus {
    background-color: white;
}

.user-playlist ul li:hover {
    color: white;
}


.fas.fa-plus {
    background-color: lightgray;
    color: black;
    font-size: 1.2em;
    font-weight: 800;
    padding: 10px;
    margin-right: 8px;
}

#scroll-list {
    height: 200px;
}

#scroll-list ul {
    height: 100%;
    overflow-y: scroll;
}


/*! App download and user-profile nav*/
.bottom-area {
    width: 100%;
    margin-bottom: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 20px;
}

#app-download {
    border-bottom: 1.5px solid gray;
    font-size: 0.8em;
    display: flex;
    flex-direction: row ;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 8px;
    
}

#app-download:hover {
    color: white;
}

#app-download img {
    width: 30px;
    filter: invert(50%);
    margin-right: 12px;
    display: block;
}

#app-download:hover img {
    filter: invert(0);
}


#user-profile {
    margin-top: 15px;
    padding-bottom: 10px;
    color: white;
    font-size: 0.9em;
    display: flex;
    flex-direction: row ;
    flex-wrap: nowrap;
    align-items: center;
}

#user-profile img {
    width: 40px;
    padding: 0px 3px;
    background-color: gray;
    border-radius: 50%;
    margin-right: 10px;
    display: block;
}



/*! *** SECTION 2/2: album-list *** */
.album-list {
    height: calc(100vh - 80px);
    padding-top: 70px;
    overflow-y: scroll;  
    display: flex;
    flex-direction: column;
}

.bg-blue {
    background-color: #141922;
}


/*! Menu nav*/
.album-list .nav-menu ul {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.album-list .nav-menu ul li {
    display: inline-block;
    color: gray;
    font-size: 0.8em;
    margin-right: 30px;
    margin-bottom: 20px;
}

.menu-title {
    position: relative;
}

.notch {
    height: 3px;
    width: 30px;
    background-color: yellowgreen;
    visibility: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.album-list .nav-menu ul li:hover {
    color: white;
}

.album-list .nav-menu ul li:active .notch {
    visibility: visible;
}

.album-list .nav-menu ul li:first-child .notch {
    visibility: visible;
}


/*! Playlist*/ 
.playlist-name {
    padding: 20px;
}

.single-album {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.img-container {
    margin-bottom: 10px;
    position: relative;
}

.single-album .img-container img {
    max-width: 100%;
}

.play-on-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.play-on-hover>.far.fa-play-circle {
    font-size: 3em;
}

.single-album .img-container:hover img {
    filter: brightness(70%);
}

.single-album .img-container:hover .play-on-hover {
    visibility: visible;
}

.playlist-name h6 {
    color: gray;
    margin-top: 5px;
}

.rounded {
    border-radius: 50%;
}








/********************** FOOTER *******************************/

footer {
    width: 100%;
    height: 80px;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    z-index: 1;
} 

.player-controls {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.now-played {
    width: 200%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.now-played p {
    font-size: 0.6em;
    color: gray;
}

.now-played p:hover {
    text-decoration: underline;
    color: white;
}

.player-controls .now-played img {
    max-width: 50px;
    margin-right: 15px;
}

.far.fa-heart, .far.fa-folder {
    color: gray;
    padding-right: 15px;
}

.far.fa-heart:hover, .far.fa-folder:hover {
    color: white;
}

.controls {
    display: flex;
    flex-direction: column;
}

.controls-icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px ;
}

.fas.fa-random, 
.fas.fa-step-forward {
    padding-right: 25px;
}

.controls-icons .far.fa-play-circle {
    padding-left: 35px;
    padding-right: 35px;
    font-size: 2em;
}

.controls-icons .far.fa-play-circle:hover {
    transform: scale(1.2);
}


.progress-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.progress-bar-big{
    width: 60%;
    height: 4px;
    border-radius: 30px;
    background-color: gray;
}

.progress-value{
    width: 20%;
    height: 100%;
    border-radius: 30px;
    background-color: white;
    position: relative;
}

.marker {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: -70%;
    right: 0;
    transform: translate(50%);
    visibility: hidden;
}

.progress-bar-big:hover .progress-value {
    background-color: yellowgreen;
}

.progress-bar-big:hover .marker {
    visibility: visible;
}

.progress-bar-small:hover .marker {
    visibility: visible;
}

.progress-bar-small:hover .progress-value {
    background-color: yellowgreen;
}


#time-played, #time-left {
    font-size: 0.7em;
}

#time-played {
    padding-right: 30px;
}

#time-left {
    padding-left: 30px;  
}


.progress-bar-small{
    width: 35%;
    height: 4px;
    border-radius: 30px;
    background-color: gray;
}

.small-bar-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}

.fas.fa-list-ul,
.fas.fa-desktop,
.fas.fa-volume-up {
    padding-right: 18px;
}

.fas.fa-desktop,
.fas.fa-volume-up {
    padding-right: 18px;
    font-size: 0.9em;
}

















    